<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Palindrome Checker</title>
        <link rel="stylesheet" href="/public/css/site.css">
    </head>

    <body>
        <header>
            <h1>{{title}}</h1>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <p>Himanshu Rana</p>
        </footer>

        <script src="/public/js/form.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    </body>

</html>