
<article>
    <h2>Welcome</h2>
    <p>Palindrome: a word, phrase, or sequence that reads the same backward as forward.
This website checks whether the inputted string is a palindrome or not. 
Type a string to find out!!</p>


<form id="Form">
    <label for="phrase" id="shadows">Input Text Here: </label>
    <input name="phrase" id="phrase"></input>
    <button type="submit">Submit</button>

</form>
<div class="error" id="error" hidden></div>
<ul id="attempts"></ul>

</article>
